* {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 28px;
}

body {
    padding: 10px;
}

button {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
}

@media(hover: hover) {
    button:hover:not(.certo):not(.errado) {
        cursor: pointer;
        background-color: blue;
    }
}

.certo {
    background-color: green;
}

.errado {
    background-color: red;
}

.ask-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
}

.respostas {
    display: flex;
    gap: 10px
}

.ask-type1 {
    background-color: cadetblue;
}

.ask-type1 button:not(.certo):not(.errado) {
    background-color: rgb(224, 202, 250);
}

.ask-type2 {
    background-color: rgb(116, 160, 95);
}

.ask-type2 button:not(.certo):not(.errado) {
    background-color: rgb(191, 228, 157);
}

.ask-type3 {
    background-color: rgb(194, 122, 39);
}

.ask-type3 button:not(.certo):not(.errado) {
    background-color: rgb(248, 226, 194);
}